<B><h1> Fill TWO NUMBERS , TO FIND ( ADDITION , SUBTRACTION , MULTIPLY, DIVISION , MODULUS )</h1>

<form action="/cal" method="POST">
	<h2>First number: <input type="text" name="first_n">
	<br/>
	Second number:<input type="text" name="second_n">
	<br/></h2>
	
	Addition ( + ) : <input type ="submit" name = "add_s">
	<br>
	Subtraction ( - ) : <input type = "submit" name = "sub_s">
	<br>
	Multiply ( * ) : <input type = "submit" name = "mul_s">
	<br>
	Divide ( / ) : <input type = "submit" name = "div_s">
	<br>
	Modulus ( % ) : <input type = "submit" name = "mod_s">
	<!-- <br>
	<input type = "submit" >  -->

	
</form>