<B><h1> Aim to complete Dreams </h1>

<form action="/dream" method="POST">
	<h2>Cost of House: <input type="text" name="h">
	<br/>
	Cost of Car : <input type="text" name="c">
	<br/>
	Cost of Bike : <input type="text" name="b">
	<br/>
    Cost of Phone : <input type="text" name="p">
    <br/>
    Cost of travellings :<input type="text" name="t">
    <br/>
    Remaing items cost : <input type="text" name="r">
	<br/>
    Current age (Joining age of job ) :<input type="text" name="job_age">
    <br/>
    Age at which you want to get your own  HOUSE  :<input type="text" name="age_house">
    <br/>
    Age at which you want to get your own  CAR :<input type="text" name="age_car">
    <br/>
    Age at which you want to get your own bike :<input type="text" name="age_bike">
    <br/>
    Age at which you want to get your own  PHONE:<input type="text" name="age_phone">
    <br/>
    Age at which you want to get your own  travelling :<input type="text" name="age_travelling">
    <br/>
    Age at which you want to get other Remaing items :<input type="text" name="age_r">
    <br/>
	Calculate one salary to get each thing in particular age   : <input type = "submit" >
	
	<!-- <br>
	<input type = "submit" >  -->

	
</form>